- if user_signed_in?
  %p= "Hello, #{current_user.display_name}"
  - if session.has_key? :second_user
    %i= session[:second_user].display_name + ' is also logged. '
    %i Wanna play alone?
    -# %br/
    = link_to 'Get rid of ' + session[:second_user].name,
      :action => 'logout_second'
  - else
    = link_to 'Login second user', :action => 'login_second'
