#content
  = form_for(:user,
    :url => { :controller => 'welcome',
              :action => 'authenticate_second' }) do |f|
    %p
      = f.label :email
      %br/
      = f.text_field :email
    %p
      = f.label :password
      %br/
      = f.password_field :password
    %p= f.submit "Sign in second"
