!!! XML
!!!
%html
  %head
    %title JsGames
    = stylesheet_link_tag :all, :recursive => true
    = javascript_include_tag :lib
    = javascript_include_tag :src
    -# TODO(zori): Change to the NodeJS domain in production code.
    = javascript_include_tag "http://localhost:3006/socket.io/socket.io.js"
    = csrf_meta_tag
  %body
    - if flash[:notice]
      %p.notice= notice
    - if flash[:alert]
      %p.alert= alert
    %ul.user-main-ops
      = render 'devise/menu/registration_items'
      = render 'devise/menu/login_items'
    = render 'welcome/second_user_items'
    = yield
