!!! XML
!!!
%html
  %head
    %title JsGames
    = stylesheet_link_tag :all
    = javascript_include_tag :lib
    = javascript_include_tag :src
    = csrf_meta_tag
  %body
    %p.notice= notice
    %p.alert= alert
    %ul.user-main-ops
      = render 'devise/menu/registration_items'
      = render 'devise/menu/login_items'
    = yield
